/* css styles */

figcaption {
  margin: auto;
  text-align: center;
}

/*

Some lines of code that might help with getting responsive figure width percentages. 
Didn't work last time I tested.

@media (max-width: 900px) {
  figure {
    width: 75%;
  }
} 

figure {
    width: 75%;
}
*/