/* css styles */

figcaption {
  margin: auto;
  text-align: center;
}

#quarto-sidebar > div.sidebar-menu-container > ul > li:nth-child(1) > div > a > span {
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;
    color: #00291C;
    padding: 0;
}

#quarto-sidebar > div.sidebar-menu-container > ul > li:not(:first-child) > div > a > span {
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    color: #11A473;
    padding: 0;
}

.navbar .nav-link {
  color: #00291C; 
  font-weight: bold;
}

/*

Some lines of code that might help with getting responsive figure width percentages. 
Didn't work last time I tested.

@media (max-width: 900px) {
  figure {
    width: 75%;
  }
} 

figure {
    width: 75%;
}
*/