/* css styles */

figcaption {
  margin: auto;
  text-align: center;
}

figure {
  max-width: 800px;
  height: auto; /* Keep aspect ratio */
  display: block;         
  margin: 0 auto;
}

.about-image.rectangle {
  width: 90% !important;
  max-width: 1000px !important;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* All Entries of Left Sidebar except for the ones handled separately below */
#quarto-sidebar > div.sidebar-menu-container {
    font-family: "Roboto Sans", sans-serif; !important;
}

#quarto-sidebar > div.sidebar-menu-container > ul > li:nth-child(1) {
  padding-bottom: 6px;
}

#quarto-sidebar > div.sidebar-menu-container > ul > li:not(:first-child) {
  padding-bottom: 3px;
}

.sidebar-item-text {
  color: #125740 !important;
}

/* First Entry of Left Sidebar */
#quarto-sidebar > div.sidebar-menu-container > ul > li:nth-child(1) > div > a > span {
    font-size: 1.3em;
}

/* All other Top Level Entries of Left Sidebar */
#quarto-sidebar > div.sidebar-menu-container > ul > li:not(:first-child) > div > a > span {
    font-size: 1.15em;
}

/* Title "Table of Contents" */
#quarto-margin-sidebar > nav.toc-active > h2 {
    font-size: 1.1em;
    color: #125740;
    padding: 1;
    font-family: "Roboto Sans", sans-serif; !important;
}

/* SubTitle of Document */
.subtitle {
    font-family: "Roboto Sans", sans-serif; !important;
}

@media screen and (min-width: 768px) {
  #title-block-header > nav {
    display: none !important;
  }
}

#quarto-margin-sidebar > nav.toc-active > ul > li > a{
    color: #125740;
    font-size: 1.05em;
}

#quarto-margin-sidebar > nav.toc-active > ul > li > a > span{
    color: #125740;
    font-size: 1.05em;
}

/* All Entries of Right Sidebar except for the ones handled separately below */
#quarto-margin-sidebar > nav.toc-active > ul > li {
    font-family: "Roboto Sans", sans-serif; !important;
}

#quarto-margin-sidebar > nav.toc-active > ul > li a.nav-link.active{
    color: #11A473 !important;
}

#quarto-margin-sidebar > nav.toc-active > ul > li a.nav-link:hover{
    color: #11A473 !important;
}

#quarto-margin-sidebar {
  padding-top: 28px !important;
}

.about-link:hover {
  color: #11A473 !important;
}

.sidebar-link.active {
  color: #11A473 !important;
  background-color: #ECF8F4 !important;
}

.navbar .nav-link {
  color: #125740; 
  font-family: "Roboto Serif", serif; !important;
}

.nav-tabs .nav-link {
  color: #125740; 
  font-family: "Roboto Serif", serif; !important;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: #11A473 !important; 
}

.nav-link.active {
  color: #11A473 !important;
  background-color: #ECF8F4 !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #11A473 !important; 
}

.nav-link.active[data-scroll-target] {
  border-left: 2px solid #11A473 !important;
}

.navbar {
  border-bottom: 3px double #125740;
}

/* Display classes (Bootstrap 5) */
.display-1 .display-2 {
  font-family: "Roboto Serif", serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Serif", serif;
  font-weight: normal;
}

/*
h1 {
  font-size: 10px;
}
*/

/* Paragraphs */
p {
  font-family: "Roboto Sans", sans-serif;
}

/* Adjust any other structural elements as needed */
.blockquote {
  font-family: "Roboto Sans", sans-serif;
}
code, pre {
  font-family: "Fira Code", monospace;
  background-color: #ECF8F4 !important;
  color: #125740 !important; 
}

span.fake-code-block {
  font-family: "Fira Code", monospace;
  background-color: #ECF8F4 !important;
  color: #125740 !important; 
}

a {
  color: #125740;
}

a:hover,
a:focus {
  color: #11A473;
}

h1 .header-section-number,
h2 .header-section-number,
h3 .header-section-number,
h4 .header-section-number,
h5 .header-section-number {
  color: #000000; /* any color you'd like */
}

/*

Some lines of code that might help with getting responsive figure width percentages. 
Didn't work last time I tested.

@media (max-width: 900px) {
  figure {
    width: 75%;
  }
} 

figure {
    width: 75%;
}
*/